<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>EasyEvents</span>
    <span class="app-spacer"></span>
    <button
      class="app-actions-btn"
      routerLink="/events"
      routerLinkActive="mat-accent"
      mat-stroked-button
    >
      Events
    </button>

    <div>
      <div *ngIf="authService.isLoggedIn(); else showLogin">
        <button
          routerLink="/bookings"
          routerLinkActive="mat-accent"
          class="app-actions-btn"
          mat-stroked-button
        >
          Bookings
        </button>
      </div>

      <ng-template #showLogin>
        <button
          routerLink="/login-register"
          routerLinkActive="mat-accent"
          class="app-actions-btn"
          mat-stroked-button
        >
          Login
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
